.logo {
  text-align: center;
  font-size: 56px;
  color: white;
  font-weight: 300;

  .falcon {
    position: relative;
    margin: 0 auto 15px;
    height: 195px;
    width: 135px;
    background-image: url('./logo.svg');
  }
}
